---
- name: Verificar se é VM (Segurança)
  ansible.builtin.fail:
    msg: "Abortando: Hardware Tune não deve rodar em VM."
  when: ansible_virtualization_role == "guest"

- name: Aplicar Parâmetros de Kernel (IOMMU + iGPU Support)
  ansible.builtin.copy:
    dest: /etc/kernel/cmdline
    # EXPLICANDO AS FLAGS:
    # root=ZFS... -> Boot via ZFS.
    # intel_iommu=on -> Ativa virtualização de IO para Intel.
    # iommu=pt -> Modo 'Passthrough' (melhor performance, o host não traduz DMA).
    # pci=noaer -> Suprime erros de PCIe comuns em passthrough (Advanced Error Reporting).
    # nvme_core... -> Otimização de latência para NVMe.
    # NOTA: Removemos 'video=efifb:off' para permitir que a iGPU mostre o Kiosk.
    content: "root=ZFS={{ pool_name }}/ROOT/pve-1 boot=zfs intel_iommu=on iommu=pt pci=noaer nvme_core.default_ps_max_latency_us=0 split_lock_detect=off"
  notify: Refresh Bootloader

- name: Garantir carregamento dos módulos VFIO
  ansible.builtin.copy:
    dest: /etc/modules
    content: |
      vfio
      vfio_iommu_type1
      vfio_pci
      vfio_virqfd
  notify: Update Initramfs

- name: Configurar VFIO (Blacklist Drivers Nvidia)
  ansible.builtin.copy:
    dest: /etc/modprobe.d/blacklist.conf
    # Impede o Proxmox de carregar drivers gráficos na 3090ti.
    # Isso deixa a placa "órfã" para ser adotada pelo vfio-pci.
    content: |
      blacklist nouveau
      blacklist nvidia
      blacklist nvidia_drm
      blacklist nvidia_modeset
      # Garante que o driver nouveau não tente modeset
      options nouveau modeset=0

- name: Detectar IDs da GPU Nvidia para Isolamento
  ansible.builtin.shell: |
    update-pciids
    # Busca IDs Hexadecimais da Nvidia (Audio + Video)
    lspci -nn | grep -i nvidia | grep -oP '\[\K[0-9a-f]{4}:[0-9a-f]{4}(?=\])' | tr '\n' ',' | sed 's/,$//'
  register: gpu_ids
  changed_when: false

- name: Aplicar Isolamento (VFIO Binding)
  ansible.builtin.copy:
    dest: /etc/modprobe.d/vfio.conf
    # Associa os IDs da 3090ti ao driver vfio-pci
    content: "options vfio-pci ids={{ gpu_ids.stdout }} disable_vga=1"
  when: gpu_ids.stdout != ""
  notify: Update Initramfs

- name: Limitar RAM ZFS (Tuning)
  ansible.builtin.copy:
    dest: /etc/modprobe.d/zfs.conf
    content: "options zfs zfs_arc_max={{ zfs_arc_limit_bytes }}"
  notify: Update Initramfs
