- name: Verificar existência do Pool {{ pool_name }}
  ansible.builtin.command: zpool list {{ pool_name }}
  register: pool_exists
  ignore_errors: true
  changed_when: false

- name: Formatar e Criar ZFS (Se não existir)
  ansible.builtin.shell: |
    sgdisk --zap-all {{ disk_device }}
    wipefs -a {{ disk_device }}
    echo "{{ zfs_password }}" | zpool create -f -o ashift=12 -o autotrim=on -O compression=lz4 -O atime=off -O encryption=aes-256-gcm -O keyformat=passphrase -O keylocation=prompt {{ pool_name }} {{ disk_device }}
  when: pool_exists.rc != 0 and disk_device is defined
  no_log: true

- name: Criar Datasets
  community.general.zfs:
    name: "{{ item }}"
    state: present
  loop:
    - "{{ pool_name }}/vms"
    - "{{ pool_name }}/backups"

- name: Configurar Storage no Proxmox
  ansible.builtin.command: >
    pvesm add zfspool {{ storage_id_vm }} --pool {{ pool_name }}/vms --content images,rootdir --sparse 1
  register: pvesm_cmd
  failed_when: "pvesm_cmd.rc != 0 and 'already defined' not in pvesm_cmd.stderr"

# SWAP CONFIG
- name: Configurar Swappiness
  ansible.posix.sysctl:
    name: vm.swappiness
    value: '10'
    state: present
    sysctl_file: /etc/sysctl.d/99-pve-swappiness.conf

- name: Criar Swap ZVol
  ansible.builtin.shell: |
    zfs create -V 8G -b $(getconf PAGESIZE) -o compression=zle -o logbias=throughput -o sync=always -o primarycache=metadata -o secondarycache=none -o com.sun:auto-snapshot=false rpool/swap
    mkswap -f /dev/zvol/rpool/swap
    swapon /dev/zvol/rpool/swap
  args:
    creates: /dev/zvol/rpool/swap
