- name: Instalar Interface Gráfica e Áudio
  ansible.builtin.apt:
    name: 
      - xfce4
      - xfce4-goodies
      - lightdm
      - chromium
      - sudo
      - xorg
      - pipewire
      - wireplumber
      - pavucontrol
      - dbus-x11
    state: present
    install_recommends: no

- name: Criar Usuário {{ new_user }}
  ansible.builtin.user:
    name: "{{ new_user }}"
    password: "{{ user_password }}"
    shell: /bin/bash
    groups: sudo,audio,video,render
    append: yes

- name: Configurar Kiosk Mode
  ansible.builtin.blockinfile:
    path: "/home/{{ new_user }}/.config/autostart/proxmox-ui.desktop"
    create: yes
    owner: "{{ new_user }}"
    group: "{{ new_user }}"
    block: |
      [Desktop Entry]
      Type=Application
      Name=Proxmox Kiosk
      Exec=chromium --kiosk --no-sandbox --ignore-certificate-errors https://localhost:8006 https://localhost:8007
      StartupNotify=false
      Terminal=false

- name: Ativar LightDM
  ansible.builtin.service:
    name: lightdm
    enabled: yes
