---
- name: Instalar suporte Multi-Arquitetura (LXC)
  ansible.builtin.apt:
    name: [qemu-user-static, binfmt-support]
    state: present

- name: Verificar PVEScriptsLocal
  ansible.builtin.shell: pct list | grep -q "pve-scripts-local"
  register: pct_check
  failed_when: pct_check.rc not in [0, 1]
  changed_when: false

- name: Baixar Instalador PVEScripts
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/community-scripts/ProxmoxVE/main/ct/pve-scripts-local.sh
    dest: /root/install-pvescripts.sh
    mode: '0755'
  when: pct_check.rc == 1

- name: AVISO PVESCRIPTS
  ansible.builtin.debug:
    msg: "Para instalar o gerenciador de scripts, rode: ./install-pvescripts.sh"
  when: pct_check.rc == 1

# Integração Kiosk (Roda se o container existir)
- name: Obter IP do Container
  ansible.builtin.shell: pct exec $(pct list | grep pve-scripts | awk '{print $1}') -- ip -4 -br addr show eth0 | awk '{print $3}' | cut -d/ -f1
  register: pct_ip
  when: pct_check.rc == 0
  ignore_errors: true

- name: Adicionar URL ao Kiosk
  ansible.builtin.replace:
    path: "/home/{{ new_user }}/.config/autostart/proxmox-ui.desktop"
    regexp: '(Exec=chromium.*)( https://localhost:8007)(.*)'
    replace: '\1\2 http://{{ pct_ip.stdout }}:3000'
  when: 
    - pct_check.rc == 0
    - pct_ip.stdout is defined
    - pct_ip.stdout != ""
  notify: Restart LightDM
