---
- name: Configurar Workstation Proxmox (aleogr-pc)
  hosts: workstation
  become: true
  vars_files:
    - vars.yml
  
  # Pede as senhas no início da execução para não parar depois
  vars_prompt:
    - name: "user_password"
      prompt: "Digite a senha para o usuário Linux (aleogr)"
      private: yes
    
    - name: "zfs_password"
      prompt: "Digite a senha para Criptografia ZFS (Se ativada)"
      private: yes
      
    - name: "pbs_root_password"
      prompt: "Digite a senha de ROOT para conectar o PBS"
      private: yes

  roles:
    - { role: system, tags: ['system', 'step1'] }
    - { role: desktop, tags: ['desktop', 'step2'] }
    - { role: hardware, tags: ['hardware', 'step3'] }
    - { role: storage, tags: ['storage', 'step4', 'step5'] }
    - { role: backup, tags: ['backup', 'step6'] }
    - { role: security, tags: ['security', 'step7', 'step10'] }
    - { role: extras, tags: ['extras', 'step8', 'step9'] }